{% extends "base.html" %}
{% load static %}
{% block content %}

   
    <!-- Inner Banner Section -->
    <section class="inner-banner">
        <div class="image-layer" style="background-image: url({% static 'images/background/banner-image-2.jpg' %});"></div>
        <div class="auto-container">
            <div class="inner">
                <div class="subtitle"><span>delicious & amazing</span></div>
                <div class="pattern-image"><img src="{% static 'images/icons/separator.svg' %}" alt="" title=""></div>
                <h1 class="larg"><span>Kitchen Menu</span></h1>
            </div>
        </div>
    </section>
    <!--End Banner Section -->

    <!--Special Offer Section-->
    <section class="special-offer-two">
        <div class="left-bg"><img src="{% static 'images/background/bg-20.png' %}" alt="" title=""></div>
        <div class="right-bg"><img src="{% static 'images/background/bg-19.png' %}" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>Breakfast offer</span></div>
                <div class="pattern-image"><img src="{% static 'images/icons/separator.svg' %}" alt="" title=""></div>
                <h2 class="larg">Break fast Menu</h2>
            </div>
            <div class="row clearfix">
                <!--Item-->
            {% for iteam in breakfast %}
                <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <!-- {% if iteam.image %}
                        <div class="image"><a href="{{iteam.get_absolute_url}}">
                            <img style="width:270px;height:290px" src="{{iteam.image.url}}" alt=""></a></div>
                        {% endif %} -->
                        <h4><a href="{{iteam.get_absolute_url}}">{{iteam.title}}</a></h4>
                        <div class="text desc">{{iteam.description|slice:":65"}}</div>
                        <div class="price">₦{{iteam.preview_price}}</div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>


 


    <!--Menu Section-->
    <section class="menu-one">
        <div class="right-bg"><img src="{% static 'images/background/bg-16.png' %}" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>STARTER MENU</span></div>
                <div class="pattern-image"><img src="{% static 'images/icons/separator.svg' %}" alt="" title=""></div>
                <h2 class="larg">Starters</h2>
            </div>

            <div class="row clearfix">
                <div class="image-col col-lg-7 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="image"><img src="{% static 'images/resource/menus-2.jpg' %}" alt=""></div>
                    </div>
                </div>
                <div class="menu-col col-lg-5 col-md-12 col-sm-12">
                    <div class="inner">
                        <!--Block-->
                        {% for iteam in starters %}
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="{{iteam.get_absolute_url}}">{{iteam.title}}</a></h5></div>
                                <div class="price">
                                     {%if iteam.discount_price %}
                                <span class="old"><del>₦{{iteam.preview_price}}</del></span>
                                 <span class="new">₦{{iteam.discount_price}}</span>
                                {% else %}
                                <span class="new">₦{{iteam.preview_price}}</span>
                                {% endif %}
                                    
                                </div>
                            </div>
                                <div class="text desc"><a href="{{iteam.get_absolute_url}}">{{iteam.description|slice:":65"}}.</a></div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--Block-->
                    
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Menu Section-->
    <section class="menu-one alternate">
        <div class="left-bg"><img src="{% static 'images/background/bg-17.png' %}" alt="" title=""></div>
        <div class="right-bg-2"><img src="{% static 'images/background/bg-18.png' %}" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>SALAD</span></div>
                <div class="pattern-image"><img src="{% static 'images/icons/separator.svg' %}" alt="" title=""></div>
                <h2 class="larg">Salad Dishes</h2>
            </div>

            <div class="row clearfix">
                <div class="image-col col-lg-7 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="image"><img src="{% static 'images/resource/menus-1.jpg' %}" alt=""></div>
                    </div>
                </div>
                <div class="menu-col col-lg-5 col-md-12 col-sm-12">
                    <div class="inner">
                        <!--Block-->
                        {% for iteam in salad %}
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="{{iteam.get_absolute_url}}">{{iteam.title}}</a></h5></div><div class="price">
                                      {%if iteam.discount_price %}
                                <span class="old"><del>₦{{iteam.preview_price}}</del></span>
                                 <span class="new">₦{{iteam.discount_price}}</span>
                                {% else %}
                                <span class="new">₦{{iteam.preview_price}}</span>
                                {% endif %}
                                    
                                </div></div>
                                <div class="text desc"><a href="{{iteam.get_absolute_url}}">{{iteam.description|slice:":65"}}.</a></div>
                            </div>
                        </div>
                          {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Special Offer Section-->
    <section class="special-offer-two">
        <div class="left-bg"><img src="{% static 'images/background/bg-20.png' %}" alt="" title=""></div>
        <div class="right-bg"><img src="{% static 'images/background/bg-19.png' %}" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>special offer</span></div>
                <div class="pattern-image"><img src="{% static 'images/icons/separator.svg' %}" alt="" title=""></div>
                <h2 class="larg">Best Rice Menu</h2>
            </div>
            <div class="row clearfix">
                <!--Item-->
                 {% for iteam in rice %}
                <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="image">
                             <!-- {% if iteam.image %}
                            <a href="#"><img src="{{iteam.image.url}}" alt=""></a>
                            {% endif %} -->
                        </div>
                        <h4><a href="{{iteam.get_absolute_url}}">{{iteam.title}}</a></h4>
                        <div class="text desc">{{iteam.description|slice:":65"}}.</div>
                        <div class="price">
                         {%if iteam.discount_price %}
                                <span class="old"><del>₦{{iteam.preview_price}}</del></span>
                                 <span class="new">₦{{iteam.discount_price}}</span>
                                {% else %}
                                <span class="new">₦{{iteam.preview_price}}</span>
                                {% endif %}
                    </div>
                    </div>
                </div>

                  {% endfor %}
         

            </div>
        </div>
    </section>

     <!--Chef Selection Section-->
    <section class="chef-selection">
        <div class="auto-container">
            <div class="outer-container">
                <div class="row clearfix">
                    <!--Col-->
                    {% for iteam in special %}
                    <div class="image-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                           <!-- {% if iteam.image %}
                            <div class="image-layer" style="background-image: url({{iteam.image.url}});"></div>
                            <div class="image"><img src="{{iteam.image.url}}" alt=""></div>
                           {% endif %}  -->
                        </div>
                    </div>
                    <!--Col-->
                    
                    <div class="content-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                            <div class="title-box">
                                <span class="badge-icon">
                                    <img src="{% static 'images/resource/badge-2.png' %}" alt="{{iteam.title}}" title=""></span>
                                <div class="subtitle"><span>chef selection</span></div>
                                <div class="pattern-image"><img src="{% static 'images/icons/separator.svg' %}" alt="" title=""></div>
                                <h3>{{iteam.title}}</h3>
                                <div class="text">{{iteam.description|slice:":65"}}</div>
                            </div>
                            <div class="price">
                               {%if iteam.discount_price %}
                                <span class="old"><del>₦{{iteam.preview_price}}</del></span>
                                 <span class="new">₦{{iteam.discount_price}}</span>
                                {% else %}
                                <span class="new">₦{{iteam.preview_price}}</span>
                                {% endif %}
                             </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>


    <!--Menu Section-->
    <section class="menu-two">
        <div class="left-bg"><img src="{% static 'images/background/bg-20.png' %}" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <div class="subtitle"><span>protein</span></div>
                <div class="pattern-image"><img src="{% static 'images/icons/separator.svg' %}" alt="" title=""></div>
                <h2 class="larg">Protein Menu</h2>
            </div>
            <div class="row clearfix">
                <div class="menu-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <!--Block-->
                         {% for iteam in protein %}
                        <div class="dish-block">
                            <div class="inner-box">
                                <div class="dish-image">
                                    <a href="{{iteam.get_absolute_url}}">
                                    <img src="{% static 'images/icons/shef.png' %}" alt=""></a>
                                </div>
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="{{iteam.get_absolute_url}}">{{iteam.title}}</a></h5></div><div class="price">
                                     {%if iteam.discount_price %}
                                <span class="old"><del>₦{{iteam.preview_price}}</del></span>
                                 <span class="new">₦{{iteam.discount_price}}</span>
                                {% else %}
                                <span class="new">₦{{iteam.preview_price}}</span>
                                {% endif %}
                                </div></div>
                                <div class="text desc"><a href="#">{{iteam.description|slice:":65"}}.</a></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="menu-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <!--Block-->
                      {% for iteam in protein2 %}
                        <div class="dish-block"> 
                            
                            <div class="inner-box">
                                <div class="dish-image">
                                    <a href="{{iteam.get_absolute_url}}">
                                    <img src="{% static 'images/icons/shef.png' %}" alt=""></a>
                                </div>
                                <div class="title clearfix"><div class="ttl clearfix"><h5><a href="{{iteam.get_absolute_url}}">{{iteam.title}}</a></h5></div><div class="price">
                                     {%if iteam.discount_price %}
                                <span class="old"><del>₦{{iteam.preview_price}}</del></span>
                                 <span class="new">₦{{iteam.discount_price}}</span>
                                {% else %}
                                <span class="new">₦{{iteam.preview_price}}</span>
                                {% endif %}
                                </div></div>
                                <div class="text desc"><a href="#">{{iteam.description|slice:":65"}}.</a></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

  <!--Special Offer Section-->
  <section class="special-offer-two">
    <div class="left-bg"><img src="{% static 'images/background/bg-20.png' %}" alt="" title=""></div>
    <div class="right-bg"><img src="{% static 'images/background/bg-19.png' %}" alt="" title=""></div>
    <div class="auto-container">
        <div class="title-box centered">
            <div class="subtitle"><span>African Soup</span></div>
            <div class="pattern-image"><img src="{% static 'images/icons/separator.svg' %}" alt="" title=""></div>
            <h2 class="larg">African Soup Menu</h2>
        </div>
        <div class="row clearfix">
            <!--Item-->
             {% for iteam in african_soup %}
            <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="image">
                         <!-- {% if iteam.image %}
                        <a href="#"><img src="{{iteam.image.url}}" alt=""></a>
                        {% endif %} -->
                    </div>
                    <h4><a href="{{iteam.get_absolute_url}}">{{iteam.title}}</a></h4>
                    <div class="text desc">{{iteam.description|slice:":65"}}.</div>
                    <div class="price">
                     {%if iteam.discount_price %}
                            <span class="old"><del>₦{{iteam.preview_price}}</del></span>
                             <span class="new">₦{{iteam.discount_price}}</span>
                            {% else %}
                            <span class="new">₦{{iteam.preview_price}}</span>
                            {% endif %}
                </div>
                </div>
            </div>

              {% endfor %}
     

        </div>
    </div>
</section>
    <!-- Special Offer Section
    <section class="special-offer-two">
        <div class="right-bg"><img src="{% static 'images/background/bg-24.png' %}" alt="" title=""></div>
        <div class="auto-container">
            <div class="row clearfix">
                <!-Item->

                {% for iteam in protein %}
                <div class="offer-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12">
                     <div class="inner-box wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <div class="image"><a href="{{iteam.get_absolute_url}}"><img style="width:270px;height:290px" src="{{iteam.image.url}}" alt=""></a></div>
                        <h4><a href="{{iteam.get_absolute_url}}">{{iteam.title}}</a></h4>
                        <div class="text desc">{{iteam.description|slice:":65"}}</div>
                        <div class="price">₦{{iteam.price}}</div>
                    </div>
                </div>
                {% endfor %}
                

            </div>
        </div>
    </section> -->

    <!--Reservation Section-->
    <section class="reserve-section style-two">
        <div class="image-layer" style="background-image: url({% static 'images/background/image-10.jpg' %});"></div>
        <div class="auto-container">
            <div class="outer-box">
                <div class="row clearfix">
                    <div class="reserv-col col-lg-8 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="title">
                                <h2 class="larg">Online Reservation</h2>
                                <div class="request-info">Booking request <a href="#">0814 176 0134</a> or fill out the order form</div>
                            </div>
                            <div class="default-form reservation-form">
                                <form method="post" action="">
                                    {% csrf_token %} 
                                    <div class="row clearfix">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                 <input type="text" name="name" value="" placeholder="Your Name" required="">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                               <input type="text" name="email" value="" placeholder="Your Email" required="">
                                            </div>
                                        </div>
                                         <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <input type="text" name="phone" value="" placeholder="Phone Number" required="">
                                            </div>
                                        </div>
                                       
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <span class="alt-icon far fa-user"></span>
                                                <select name="person" class="l-icon">
                                                    <option value='1 Person'>1 Person</option>
                                                    <option value='2 Person'>2 Person</option>
                                                    <option value='3 Person'>3 Person</option>
                                                    <option value='4 Person'>4 Person</option>
                                                    <option value='5 Person'>5 Person</option>
                                                    <option value='6 Person'>6 Person</option>
                                                    <option value='7 Person'>7 Person</option>
                                                </select>
                                                <span class="arrow-icon far fa-angle-down"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <span class="alt-icon far fa-calendar"></span>
                                                <input class="l-icon datepicker" type="text" name="date" value="" placeholder="DD-MM-YYYY" required readonly>
                                                <span class="arrow-icon far fa-angle-down"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <span class="alt-icon far fa-clock"></span>
                                                <select name="time" class="l-icon">
                                                    <option>08 : 00 am</option>
                                                    <option>09 : 00 am</option>
                                                    <option>10 : 00 am</option>
                                                    <option>11 : 00 am</option>
                                                    <option>12 : 00 pm</option>
                                                    <option>01 : 00 pm</option>
                                                    <option>02 : 00 pm</option>
                                                    <option>03 : 00 pm</option>
                                                    <option>04 : 00 pm</option>
                                                    <option>05 : 00 pm</option>
                                                    <option>06 : 00 pm</option>
                                                    <option>07 : 00 pm</option>
                                                    <option>08 : 00 pm</option>
                                                    <option>09 : 00 pm</option>
                                                    <option>10 : 00 pm</option>
                                                </select>
                                                <span class="arrow-icon far fa-angle-down"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="field-inner">
                                                <textarea name="massage" placeholder="Special Request" required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="field-inner">
                                                <button type="submit" class="theme-btn btn-style-one clearfix">
                                                    <span class="btn-wrap">
                                                        <span class="text-one">book a table</span>
                                                        <span class="text-two">book a table</span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="info-col col-lg-4 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="img-layer" style="background-image: url({% static 'images/background/image-11.jpg' %});"></div>
                            <div class="title">
                                <div class="subtitle">hot deal</div>
                                <h5>Lunch & Dinner Specials</h5>
                            </div>
                            <div class="data">
                                <div class="discount-info">
                                    <div class="s-ttl">up to</div>
                                    <div class="num">45%</div>
                                    <div class="s-ttl">discount</div>
                                </div>
                                <div class="instruction">
                                    • Not valid for online order <br>
                                    • Non-refundable <br>
                                    • Offer end on 25 Jan <br>
                                </div>
                                <div class="link-box">
                                    <a href="/reservation/" class="theme-btn btn-style-one clearfix">
                                        <span class="btn-wrap">
                                            <span class="text-one">book now</span>
                                            <span class="text-two">book now</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
 
{% endblock content %}